@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #F2F2F2;
	font-family: "Poppins", sans-serif;
}

.flex {
	display: flex;
}

.hero {
	max-width: 540px;
	text-align: center;
	margin: 0 auto;
	margin-top: 80px;
}

.hero h3 {
	font-size: 36px;
	font-style: normal;
	color: #4D4F62;
}

.hero h3 span {
	font-style: normal;
}

.hero p {
	font-size: 15px;
	font-style: normal;
	color: #4D4F62;
}

.service-feature-overview {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1110px;
	margin-top: 61px;
	gap: 30px;
	padding: 32px;

}

.feature-one {
	max-width: 350px;
	padding: 32px;
	border-top: 3px solid #44D3D2;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feature-column {
	flex-direction: column;
	gap: 47px;
}

.feature-two {
	max-width: 350px;
	padding: 32px;
	background-color: #fff;
	border-top: 3px solid #EA5454;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feature-three {
	max-width: 350px;
	padding:32px;
	border-top: 3px solid #FCAE4A;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feature-four {
	max-width: 350px;
	padding: 32px;
	border-top: 3px solid #549EF2;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.feature-heading {
	font-size: 20px;
	font-style: normal;
	color: #4D4F62;
}

.feature-paragraph {
	font-size: 13px;
	font-style: normal;
	color: #4D4F62;
	letter-spacing: 0.19px;
}

.feature-images {
	max-width: 64px;
	padding-top: 40px;
	margin-left: auto;
}

@media (max-width:768px) {
    .service-feature-overview {
			flex-direction: column;
    }
    .hero{
			padding: 32px;
    }
}